@font-face {
  font-family: "iconfont"; /* Project id 2709970 */
  src: url('iconfont.woff2?t=1630815531462') format('woff2'),
       url('iconfont.woff?t=1630815531462') format('woff'),
       url('iconfont.ttf?t=1630815531462') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--cart-down:before {
  content: "\e6d1";
}

.icon-v:before {
  content: "\e629";
}

.icon-V:before {
  content: "\e78f";
}

.icon-V1:before {
  content: "\e630";
}

.icon-v1:before {
  content: "\e602";
}

.icon-V2:before {
  content: "\e603";
}

.icon-v2:before {
  content: "\e604";
}

.icon-v3:before {
  content: "\e606";
}

.icon-a-zhuanfafasong-3:before {
  content: "\e60e";
}

.icon-hongdian:before {
  content: "\e605";
}

.icon-hongdian1:before {
  content: "\e62f";
}

.icon-zhuanfafasong-3:before {
  content: "\e637";
}

.icon-gantanhao:before {
  content: "\e62e";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-youjiantou:before {
  content: "\e635";
}

.icon-xinxi:before {
  content: "\e615";
}

.icon-dianzan:before {
  content: "\e601";
}

.icon-denglu:before {
  content: "\e612";
}

.icon-tuichu:before {
  content: "\e647";
}

.icon-home:before {
  content: "\e600";
}

.icon-sixin:before {
  content: "\e628";
}

.icon-shipin:before {
  content: "\e608";
}

.icon-redu:before {
  content: "\e6ac";
}

.icon-jingdiananli_wujiaoxing_shoucanghou:before {
  content: "\e64a";
}

.icon-kongwujiaoxing:before {
  content: "\e62d";
}

